$primary-fg-color: #fafafa;
$primary-bg-color: #111218;
$button-bg-color: #4f5d75;
$secondary-bg-color: #000303;
$accent-color: #d6004e;
$alt-text-color: $button-bg-color;

@import '../color-map-dark';
$gallery-modal-close-color: #2f4858;
